<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DirectXTexNet" version="1.0.0-rc6" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="StbImageSharp" version="2.22.4" targetFramework="net472" />
  <package id="StbImageWriteSharp" version="1.13.3" targetFramework="net472" />
</packages>